@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('http://fonts.cdnfonts.com/css/apple-chancery');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
}
.nav-wrap {
  background-color: #fff;
  border-bottom: 3px solid #00b158;
}
.nav-group {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
  text-align: center;
  border-radius: 33px;
}
.header {
  background-image: url(./images/claudio-schwarz-4qJlXK4mYzU-unsplash.png);
  width: auto;
  height: 255px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 381px;
}

.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  font-size: 45px;
}

.recipecontainer {
  margin: auto;
  max-width: 997px;
  margin-top: 55px;
}
.back h1 {
  color: #363636;
  font-size: 16px;
}

.text {
  color: #17285a;
  font-size: 28px;
}
.content {
  display: flex;
  margin-top: 36px;
  align-items: baseline;
}

.content img {
  width: 18px;
  height: 18px;
  margin-top: 20px;
  margin-left: 20px;
}
.recipecontainer .header {
  height: 273px;
  opacity: 1;
}

.ingred {
  color: #363636;
  font-size: 18px;
}

h3 {
  margin-top: 39px;
}

.bor-text {
  border-style: hidden;
  background-color: #ffffff;
  width: 1000px;
  height: 238px;
  margin-top: 18px;
}

.cont_rec {
  padding: 27px 332px 26px 28px;
}

.cont_rec1 {
  padding: 27px 40px 31px 28px;
}

.footer {
  width: 100%;
  height: 163px;
  left: 0;
  bottom: 0;
  background-color: #17285a;
  margin: 0 auto;
  margin-top: 118px;
}

.footer-div {
  background-color: #17285a;
  opacity: 100%;
  margin: auto;
  width: 100%;
  display: block;
  margin-top: 129px;
}
.yummy-footer {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  justify-content: space-between;
  border-bottom: olivedrab;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
}
.yummy-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#yummy {
  font-family: 'Apple Chancery', sans-serif;
  font-size: 40px;
  color: #ffffff;
  opacity: 100%;
  width: 132px;
  height: 64px;
}

.yummy-footer .images{
  margin-top: 15px;
} 

.footer-menu a {
  color: #ffff;
  font-size:14px;
  text-decoration: none;
  margin: 19px;
}
.footer-year {
  border-top: 1px solid #ffffff;
  padding: 25px 0px;
  width: 80%;
  margin: auto;
}
.footer-year p {
  color: #ffffff;
  text-align: center;
}
