@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('http://fonts.cdnfonts.com/css/apple-chancery');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  background: #ffffff;
  margin-left: 134px;
  width: 133px;
  height: 64px;
}


.nav-group{
  display: flex;
  justify-content: space-between;
  width:80%;
  margin:auto;
  text-align:center;
}

@media (max-width: 780px){
  .nav-group{
    width: 90%;
    transition: 0.3;
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
}

.nav-items{
  display: flex;
  align-items: center;
  }

@media (max-width : 780px){
  .nav-items{
    display:none;
  }
}

.nav-items a{
  margin-left:30px;
}
 .active{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
  color:#fff;
  border-radius: 17px;
  background-color:#00b158;
  text-decoration: none;
} 

.hambrug{
/* display: flex;
flex-direction: column; */
display:none;
}  

/* .hambrug div{
  background: black;
  width:20px;
  height:3px;
  margin: 3px;
  text-align:right;
} */

@media (max-width:780px){
  .hambrug{
    display: flex;
    flex-direction: column;
    } 
  .hambrug div{
    background: black;
    width:20px;
    height:3px;
    margin: 3px;
    text-align:right;
  }
}


.RecipieContainer{
  width: fit-content;
  margin: auto;
}

.add{
   display:flex;
   padding: 10px 0s;
   margin-bottom: 18px;
   
  
}

.add a{
  background-color: #00b158;
  color: #fff;
  border-radius: 23px;
  text-decoration:none;
  padding: 10px 20px;
}

.header {
  padding: 235px 0px;
  background-image: linear-gradient(rgba(0,0,0,0.5) ,rgba(0,0,0,0.5)),url(./images/roza.png);
  background-color: black;
  opacity: 60;
  background-position: center;
  
  background-size: cover;
  height: 160px; 
}

.header-content h1{
  margin-bottom : 18px;
  font-size: 45px;
  color:#fff;
  text-align:center;
  font-weight:unset;
  
}

.searchContainer {
  max-width: 580px;
  height: 50px;
  margin: auto;
  border-radius: 30px;
  padding: 0px 10px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: relative;
  

}

.searchContainer input{
  width: 580px;
    border-radius: 30px;
    height: 50px;
    margin: auto;
    padding: 0px 10px;
    border: none;
}

.searchimg img{
  position: absolute;
  right: 25px;
  top: 15px;
}

.section p{
  margin-top: 53px;
  left: 626px;
  color:#00B158;
  font-size: 20px;
  text-align: center;
}

.section h4{
  height: 53px;
  left: 517px;
  color:#17285A;
  font-size: 38px;
  font-weight: 600;
  text-align:center;
}


.flex-conatiner{
  margin-top: 103px;
  display:grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
  justify-content: center;
}

@media (max-width:1200px) {
  .flex-conatiner{
    grid-template-columns: auto auto;
  }

}

@media (max-width:780px) {
  .flex-conatiner{
    grid-template-columns: auto;
  }

  .add{
    justify-content: center;
  }
  
}

@media (max-width: 520px)
{
  .flex-conatiner{
    grid-template-columns: auto;
  }
}

.flex1{
  width: 343px;
  min-height: 335px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #CBCBCB;
  border-radius: 15px;
}

.flex-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section{
  max-width:80%;
  margin: 0 auto;
}

.overall{
  padding:20px;
}

.flex-head h1{
  font-size:28px;
  color:#363636;
  font-weight:500;
  
}
.flex-head img{
  width: 18px;
  height: 18px;
}

.flex-exp h1{    
    font-size: 14px;
    color: #363636;
    font-weight: 500;
    margin-bottom: 10px;
}


.footer {
  width: 100%;
  height: 163px;
  left: 0;
  bottom: 0;
  background-color: #17285a;
  margin: 0 auto;
  margin-top: 118px;
}

.footer-div {
  background-color: #17285a;
  opacity: 100%;
  margin: auto;
  width: 100%;
  display: block;
  margin-top: 129px;
}
.yummy{
  font-size: 40px;
}
.yummy-footer .images{
  margin-top: 15px;
}
.yummy-footer{
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  justify-content: space-between;
  border-bottom: olivedrab;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yummy-div {
  display: flex;
  justify-content: space-between;
}
/* .yummy a{
  font-family: 'Apple Chancery', sans-serif;
  font-size:40px; 
  color: #ffffff;
  opacity: 100%;
  width: 132px;
  height: 64px;
} */
.footer-menu a {
  color: #ffff;
  font-size:14px;
  text-decoration: none;
  margin: 19px;
}
.footer-year {
  border-top: 1px solid #ffffff;
  padding: 25px 0px;
  width: 80%;
  margin: auto;
}
.footer-year p {
  color: #ffffff;
  text-align: center;
}
@media (max-width:780px) {
  .yummy-footer{
    display: block;
    text-align: center;
  }
}

@media (max-width: 780px) {
  
    .footer-menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }