@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
}
.nav-wrap {
  background-color: #fff;
  border-bottom: 3px solid #00b158;
}
.nav-group {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
  text-align: center;
  border-radius: 33px;
}
.header {
  background-image: url(roza.png);
  width: auto;
  height: 255px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}

.content {
  text-align: left;
}

.recipecontainer {
  margin: auto;
  max-width: 80%;
  margin-top: 55px;
}
.back {
  color: #363636;
  font-size: 16px;
}
.add {
  color: #17285a;
  font-size: 28px;
}

#addRecipeForm {
  display: table-caption;
}

.add {
  font-size: 28px;
  color: #17285a;
  margin-top: 36px;
}

.recipeClass label {
  color: #363636;
  margin-top: 40px;
  font-weight: bold;
}

.recipeClass input {
  width: 500px;
  height: 45px;
  border-radius: 20px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.text-css label {
  margin-bottom: 20px;
  display: block;
}

.mt-btn {
  text-align: end;
}
#buttonclr {
  background-color: #00b158;
  border-radius: 33px;
  color: #ffffff;
  width: 100px;
  height: 45px;
  margin-top: 15px;
}

/* .foodtype {
  margin: auto;
  max-width: 80%;
  margin-top: 55px;
  display: table-caption;
} */

.food-type {
  font-size: 14px;
  color: #363636;
  margin-top: 36px;
}

.food-type p {
  color: #363636;
  font-size: 16px;
  font-weight: bold;
  margin-top: 9px;
}
.food-type label {
  color: #363636;
  font-size: 14px;
}

.indrg-type p {
  color: #363636;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.indrg-type textarea {
  width: 500px;
  height: 140px;
  border-radius: 20px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  margin-top: 9px;
  resize: none;
}

.indrg-type .prepare {
  height: 272px;
}

.addrecipebtn {
  background-color: #00b158;
  color: #ffff;
  width: 187px;
  height: 45px;
  border-radius: 33px;
  border: none;
  margin-top: 25px;
}

.footer {
  width: 100%;
  height: 163px;
  left: 0;
  bottom: 0;
  background-color: #17285a;
  margin: 0 auto;
  margin-top: 118px;
}

.footer-div {
  background-color: #17285a;
  opacity: 100%;
  margin: auto;
  width: 100%;
  display: block;
  margin-top: 129px;
}
.yummy-footer {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 20px 0;
  justify-content: space-between;
  border-bottom: olivedrab;
}
.footer-menu {
  display: flex;
}
.yummy-div {
  display: flex;
  justify-content: space-between;
}
#yummy {
  color: #ffffff;
  opacity: 100%;
  width: 132px;
  height: 64px;
}
.footer-menu a {
  color: #ffff;
  margin-left: 20px;
}
.footer-year {
  border-top: 1px solid #ffffff;
  padding: 25px 0px;
  width: 80%;
  margin: auto;
}
.footer-year p {
  color: #ffffff;
  text-align: center;
}
